<!--_meta 作为公共模版分离出去-->
{include file="public/meta"}
<!--/meta 作为公共模版分离出去-->
{block name="seo"}
网站标题关键字与描述
{/block}
<!--_header 作为公共模版分离出去-->
{include file="public/header"}
<!--/_header 作为公共模版分离出去-->

<!--_menu 作为公共模版分离出去-->
{include file="public/menu"}
<!--/_menu 作为公共模版分离出去-->
{block name="content"}
页面主题内容
{/block}
<!--_footer 作为公共模版分离出去-->
{include file="public/footer"}
<!--/_footer /作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
{block name="js"}
<script type="text/javascript">

</script>
{/block}
<!--/请在上方写此页面业务相关的脚本-->

<!--此乃百度统计代码，请自行删除-->

<!--/此乃百度统计代码，请自行删除-->
</body>
</html>
